#box{
    margin: auto auto;
}
p{
    text-align: center;
    font-size: 20px;
}
a:nth-child(1){
    color: blue;
}
table{
    margin: auto auto;
    width: 1500px;
    height: 763px;
    border-collapse:collapse;
}
table,tr,td{
    padding: 0;
    border: 2px #c0b9b9 solid;
    margin: auto auto;
    text-align: center;
    font-family: 微软雅黑, serif;
}
img{
}
.title{
    font-weight: 900;
    background-color: #d3d3d3;
}
.title2{
    background-color: #e8e8e8;
}
.title3{
    background-color: #dcd8d8;
}
.title3~td{
    background-color: #dcd8d8;
}
td[class*=name]{
    font-weight: 900;
    background-color: #d3d3d3;
}
.name1{
    border-top-color: black;
    border-right-color: black;
}
.name2{
    border-right-color: black;
}
.name3{
    border-bottom-color: black;
    border-right-color: black;
}

